#main-window[titlepreface*="\2028"] #sidebar-header {
    display: none;
}
#main-window[titlepreface*="\2028"] #sidebar {
    min-width: 300px !important;
}
#main-window[titlepreface*="\2028"] #sidebar-box:hover {
    min-width: 300px !important;
    max-width: 300px !important;
    margin-right: -225px;
    box-shadow: 20px 0 20px -20px black;
}
#main-window[titlepreface*="\2028"] #sidebar-box {
    max-width: 75px !important;
    min-width: 75px !important;
    transition: max-width .1s ease, min-width .1s ease, margin .1s ease, box-shadow .2s ease;
    position: relative;
    z-index: 1;
    overflow: clip;
}
/*
#main-window[titlepreface*="\2028"] #sidebar-box:hover::before {
box-shadow: unset;
z-index: -1;
}
#main-window[titlepreface*="\2028"] #sidebar-box::before {
content: '';
position: absolute;
width: 100%;
height: 100%;
transition: box-shadow .2s ease;
box-shadow: inset -20px 0 20px -20px black;
}
*/
#main-window[titlepreface*="\2028"] #sidebar-splitter {
    display: none;
}
#main-window #TabsToolbar {
    overflow: hidden;
    transition: max-height .3s .3s !important;
}
#main-window[titlepreface*="\2028"] #TabsToolbar {
    max-height: 0 !important;
}
#main-window[titlepreface*="\2028"] #tabbrowser-tabs {
    z-index: 0 !important;
}

